Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)

e2e: serial: configuration: move initialization in BeforeEach
  test/e2e/serial/tests/configuration.go
Due: none

controllers: cleanup status conditions update
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/status/conditioninfo/conditioninfo.go
  pkg/status/status.go
  pkg/status/status_test.go
  test/e2e/serial/tests/configuration.go
Due: none

status: SS-conditions: update base conditions properly
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

pkg: status: use u/s function to find conditions
  pkg/status/status.go
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for NROP and MG
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

chore(KONFLUX-6210): fix and set name and cpe label for NROP
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-operator-bundle-4-20-on-push

ci:gh: update crd url
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

Konflux: adopt telco5g-konflux shared scripts
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/overlay.bash
  .konflux/bundle/overlay/pin_images.in.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

e2e:install:hcp: poll for status
  test/internal/deploy/hypershift.go
Due: none

Konflux: adopt telco5g-konflux shared scripts
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/overlay.bash
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

CNF-20716: konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
  Makefile
Due: none

e2e:install:hcp: poll for status
  test/utils/deploy/hypershift.go
Due: none

CNF-20443: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-21-pull-request.yaml
  .tekton/numaresources-must-gather-4-21-push.yaml
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request

konflux: order alphabetically tekton on-cel-expression
  .tekton/numaresources-must-gather-4-21-pull-request.yaml
  .tekton/numaresources-must-gather-4-21-push.yaml
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
  .tekton/numaresources-operator-bundle-4-21-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-21-push.yaml
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
Due: none

konflux: add telco5g-konflux to on-cel-expressions
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
  .tekton/numaresources-operator-bundle-4-21-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-21-push.yaml
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
Due: none

konflux: add telco5g-konflux to on-cel-expressions
  .tekton/numaresources-operator-4-20-pull-request.yaml
  .tekton/numaresources-operator-4-20-push.yaml
  .tekton/numaresources-operator-bundle-4-20-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-20-push.yaml
  .tekton/numaresources-operator-fbc-4-20-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-20-push.yaml
Due: numaresources-operator-bundle-4-20-on-push

konflux: Sort on-cel-expression file paths
  .tekton/numaresources-must-gather-4-20-pull-request.yaml
  .tekton/numaresources-must-gather-4-20-push.yaml
  .tekton/numaresources-operator-4-20-pull-request.yaml
  .tekton/numaresources-operator-4-20-push.yaml
  .tekton/numaresources-operator-bundle-4-20-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-20-push.yaml
  .tekton/numaresources-operator-fbc-4-20-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-20-push.yaml
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

controller: allow reporting RTE DS with zero desired
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesoperator_controller_test.go
Due: none

controller: update operator status on successful reconciliation
  controllers/numaresourcesoperator_controller.go
Due: none

controller tests: check status updates
  controllers/numaresourcesoperator_controller_test.go
Due: none

tekton: point to release-4.21 instead of main
  .tekton/numaresources-must-gather-4-21-pull-request.yaml
  .tekton/numaresources-must-gather-4-21-push.yaml
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
  .tekton/numaresources-operator-bundle-4-21-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-21-push.yaml
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
Due: none

pkg: status: use u/s function to find conditions
  internal/controller/numaresourcesscheduler_controller.go
  internal/schedcache/synced.go
  pkg/status/status.go
  pkg/status/status_test.go
  test/e2e/install/install_test.go
  test/e2e/sched/install/install_test.go
  test/e2e/serial/tests/configuration.go
  test/e2e/serial/tests/tolerations.go
  test/internal/deploy/deploy.go
  test/internal/nrosched/nrosched.go
Due: none

unit-test: status: updating one base condition doesn't affect others
  pkg/status/status_test.go
Due: none

tekton: main is 4.22
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/numaresources-must-gather-4-22-pull-request.yaml
  .tekton/numaresources-must-gather-4-22-push.yaml
  .tekton/numaresources-operator-4-22-pull-request.yaml
  .tekton/numaresources-operator-4-22-push.yaml
  .tekton/numaresources-operator-bundle-4-22-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-22-push.yaml
  .tekton/numaresources-operator-fbc-4-22-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-22-push.yaml
Due: numaresources-operator-bundle-4-20-on-push

infra: switch to 4.22
  .github/workflows/release-testsuite.yaml
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/features/types.go
  internal/controller/numaresourcesscheduler_controller_test.go
Due: numaresources-operator-bundle-4-20-on-push

.konflux: switch main to 4.22
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/build-pipeline.yaml
  .tekton/numaresources-must-gather-4-20-pull-request.yaml
  .tekton/numaresources-must-gather-4-20-push.yaml
  .tekton/numaresources-operator-4-20-pull-request.yaml
  .tekton/numaresources-operator-4-20-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-20-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-20-push.yaml
  Makefile
Due: none

must-gather: collect selinux info
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_selinux
Due: numaresources-must-gather-4-20-on-pull-request
