Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

api: define NRO node-label constants and MCP pool-selection helpers
  internal/api/labels/labels.go
  pkg/machineconfigpools/pools.go
  pkg/machineconfigpools/pools_test.go
Due: none

e2e: verify NRO primary-pool node labels on deploy and cleanup on delete
  test/e2e/install/install_test.go
Due: none

rbac: grant update on NUMAResourcesOperator and node permissions for labeling
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: numaresources-operator-bundle-4-20-on-push

controller: integrate node labeling, finalizer, and NRO label-based DaemonSet targeting
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

internal/nodes: fall back to managed pool to retain RTE coverage
  internal/nodes/labels.go
  internal/nodes/labels_test.go
Due: none

pools: include worker in GetPoolsForNode when master is primary
  pkg/machineconfigpools/pools.go
  pkg/machineconfigpools/pools_test.go
Due: none

CNF-24602: Upstream release-config version bump (4.22.0)
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-24602: Upstream catalog-template update (4.22.0)
  .konflux/catalog/bundle.builds.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

konflux: CNF-24602: Upstream catalog-template update (4.22.1)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

CNF-24868: Upstream release-config version bump (4.16.9)
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-24916: Upstream release-config version bump (4.20.2)
  .konflux/bundle/overlay/release.in.yaml
Due: none

ci: kind: bump to 1.35.z kube images
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
Due: none

chore: mco: fix CRD path
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

docs: AI: consolidate agents instructions in AGENTS.md
  .cursor/rules/_project.mdc
  AGENTS.md
  PROMPTING.md
Due: none

CNF-24916: Upstream catalog-template update (4.20.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

Revert "Merge pull request #3335 from openshift-kni/mg-annotation"
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

test/tls: add cluster TLS profile helpers
  test/internal/tls/tls.go
Due: none

E2E: use shared TLS profile helpers in existing tests
  test/e2e/tls/tls_test.go
Due: none

E2E: verify RTE metrics endpoint TLS compliance
  test/e2e/tls/tls_test.go
  test/internal/tls/tls.go
Due: none

CNF-25138: Upstream release-config version bump (4.19.3)
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-25138: Upstream catalog-template update (4.19.3)
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-25198: Upstream release-config version bump (4.21.2)
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-25198: Upstream catalog-template update (4.21.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

objectstate/rte: per-pool MachineConfig wait function
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

objectstate/rte: skip paused MCPs during MachineConfig sync
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

status: add MachineConfigPoolPaused condition for observability
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

tests: add unit and e2e tests for MachineConfigsState
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool_test.go
  test/e2e/serial/tests/configuration.go
Due: none

fixup: adapt cherry-picked code to 4.20 branch APIs
  internal/controller/numaresourcesoperator_controller.go
Due: none

hack: use release-4.22 openshift/api branch for MCO CRD URLs
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

konflux: add cpe label to bundle
  .konflux/bundle/bundle.konflux.Dockerfile
Due: numaresources-operator-bundle-4-20-on-push

fixup: preserve non-base conditions in UpdateConditions
  pkg/status/status.go
Due: none

fixup: adapt e2e test to 4.20 branch APIs
  test/e2e/serial/tests/configuration.go
Due: none

internal: add debugging logs for deployment completion check
  internal/wait/deployment.go
Due: none

ctrl: sched: add `topologySpreadConstraints` to deployment
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
  test/e2e/sched/sched_test.go
Due: none

internal: fix waiting for deployment get ready with new replicas
  internal/wait/deployment.go
  test/e2e/sched/sched_test.go
  test/e2e/serial/tests/configuration.go
  test/e2e/serial/tests/scheduler_removal.go
  test/e2e/serial/tests/workload_placement_nodelabel.go
Due: none

ctrl: sched: explicit replicas should not exceed nodes number
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
Due: none

gh-ci: enable govulncheck for 4.22
  .github/workflows/govulncheck.yaml
Due: none

ci: replace govulncheck action with manual install
  .github/workflows/govulncheck.yaml
Due: none

CI: bump go toolchain to 1.25.11
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/release-operator.yaml
  .github/workflows/support-tools.yaml
  Dockerfile.tools
  go.mod
Due: none
