Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

numaresources-must-gather-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-must-gather-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

numaresources-operator-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

konflux: remove codeready repo and top comment
  .konflux/must-gather/redhat.repo
Due: numaresources-must-gather-4-20-on-pull-request

e2e: sched: cleanup modification tests
  test/e2e/sched/sched_test.go
Due: none

e2e: sched: extend coverage for scheduler's spec modifications
  config/manager/kustomization.yaml
  test/e2e/sched/sched_test.go
Due: numaresources-operator-bundle-4-20-on-push

test: internal: return non-pointer scheduler variable
  test/e2e/serial/tests/non_regression.go
  test/e2e/serial/tests/scheduler_removal.go
  test/e2e/serial/tests/workload_unschedulable.go
  test/internal/nrosched/nrosched.go
Due: none

[AA] e2e: serial: reintroduce test 75354 using dymanic client
  test/e2e/serial/tests/configuration.go
Due: none

konflux: Auto-approve and merge Konflux Docker digest updates
  renovate.json
Due: none

tekton: split build pipeline file, update task digests and disable sast-coverity checks
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-19-pull-request.yaml
  .tekton/numaresources-must-gather-4-19-push.yaml
Due: none

konflux: remove codeready repo and top comment Description: This is a cleanup of the .repo file to remove irrelevant comments and unneeded RPM repo as no binary needs it in order to be installed
  .konflux/must-gather/redhat.repo
Due: numaresources-must-gather-4-20-on-pull-request

Revert " [release-4.19] konflux: update tekton tasks digests and pull latest RPMs"
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-19-pull-request.yaml
  .tekton/numaresources-must-gather-4-19-push.yaml
Due: numaresources-must-gather-4-20-on-pull-request

konflux: Configure catalog to 4.14.10
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/numaresources-operator/.gitkeep
  .konflux/catalog/numaresources-operator/catalog.yaml
  Makefile
Due: none

konflux: Configure catalog to 4.15.8
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/numaresources-operator/.gitkeep
  .konflux/catalog/numaresources-operator/catalog.yaml
  Makefile
Due: none

konflux: Configure catalog to 4.16.7
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/numaresources-operator/.gitkeep
  .konflux/catalog/numaresources-operator/catalog.yaml
  Makefile
Due: none

konflux: Configure catalog to 4.17.5
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/numaresources-operator/.gitkeep
  .konflux/catalog/numaresources-operator/catalog.yaml
  Makefile
Due: none

konflux: Configure catalog to 4.18.2
  .konflux/bundle/overlay/overlay.bash
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/numaresources-operator/.gitkeep
  .konflux/catalog/numaresources-operator/catalog.yaml
  Makefile
Due: none

tekton: split build pipeline file, update task digests and disable sast-coverity checks
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-18-pull-request.yaml
  .tekton/numaresources-must-gather-4-18-push.yaml
Due: none

tekton: split build pipeline file, update task digests and disable sast-coverity checks
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-16-pull-request.yaml
  .tekton/numaresources-must-gather-4-16-push.yaml
Due: none

tekton: split build pipeline file, update task digests and disable sast-coverity checks
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-15-pull-request.yaml
  .tekton/numaresources-must-gather-4-15-push.yaml
Due: none

controller: test: verify RTE has a critical priority class
  internal/controller/numaresourcesoperator_controller_test.go
Due: none

deps: bump deployer v0.22.0 -> v0.23.0
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/images/consts.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/manifests.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/rte/rte.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/daemonset.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/networkpolicy.apiserver.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/networkpolicy.metrics.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/networkpolicy.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/sched/controller/networkpolicy.apiserver.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/sched/controller/networkpolicy.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/sched/scheduler/networkpolicy.apiserver.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/sched/scheduler/networkpolicy.yaml
  vendor/modules.txt
Due: none

deps: bump deployer v0.22.0 -> v0.22.1
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/daemonset.yaml
  vendor/modules.txt
Due: none

controller: test: verify RTE has a critical priority class
  controllers/numaresourcesoperator_controller_test.go
Due: none

deps: bump deployer v0.19.7 -> v0.19.8
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/daemonset.yaml
  vendor/modules.txt
Due: none

deps: bump deployer v0.21.3 -> v0.21.5
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/rte/rte.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/yaml/rte/daemonset.yaml
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/objectupdate/rte/rte.go
  vendor/modules.txt
Due: none

internal: schedcache: fix linter issue
  internal/schedcache/synced.go
Due: none

golangci: migrate to v2.2.1
  .golangci.yml
  Makefile
  hack/sort-imports.py
Due: numaresources-operator-bundle-4-20-on-push

scheduler network policies
  pkg/numaresourcesscheduler/manifests/manifests.go
  pkg/numaresourcesscheduler/manifests/manifests_test.go
  pkg/numaresourcesscheduler/manifests/sched/sched.go
  pkg/numaresourcesscheduler/manifests/yaml/networkpolicy.apiserver.yaml
  pkg/numaresourcesscheduler/manifests/yaml/networkpolicy.yaml
  pkg/numaresourcesscheduler/objectstate/sched/sched.go
Due: none

operator network policies
  config/default/kustomization.yaml
  config/networkpolicy/deny-all.yaml
  config/networkpolicy/egress-to-api-server.yaml
  config/networkpolicy/ingress-to-metrics.yaml
  config/networkpolicy/kustomization.yaml
Due: numaresources-operator-bundle-4-20-on-push

add rbac to operator to create networkpolicies
  config/rbac/role.yaml
  internal/controller/numaresourcesoperator_controller.go
Due: numaresources-operator-bundle-4-20-on-push

add webhook server network policy
  config/networkpolicy/kustomization.yaml
  config/networkpolicy/webhook-server.yaml
Due: numaresources-operator-bundle-4-20-on-push

make generate bundle manifest
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

network policy for metrics endpoint
  pkg/metrics/manifests/manifests.go
  pkg/metrics/manifests/monitor/monitor.go
  pkg/metrics/manifests/yaml/networkpolicy.yaml
  pkg/objectstate/rte/rte.go
Due: none

e2e: add network policy tests
  test/e2e/serial/tests/network_policy.go
  test/internal/deploy/find.go
Due: none

tekton: split build pipeline file, update task digests and disable sast-coverity checks
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-14-pull-request.yaml
  .tekton/numaresources-must-gather-4-14-push.yaml
Due: none

controller: sched: test CacheResyncDebug update
  internal/controller/numaresourcesscheduler_controller_test.go
Due: none

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
