Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

numaresources-must-gather-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-must-gather-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

numaresources-operator-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

numaresources-operator-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

crds: use CEL to enforce unique name thus a singleton
  api/v1/numaresourcesoperator_types.go
  api/v1/numaresourcesscheduler_types.go
  config/crd/bases/nodetopology.openshift.io_numaresourcesoperators.yaml
  config/crd/bases/nodetopology.openshift.io_numaresourcesschedulers.yaml
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  test/e2e/install/install_test.go
Due: numaresources-operator-bundle-4-20-on-push

add nrt toleration to node level memory in reboot tests
  internal/noderesourcetopology/equality.go
Due: none

[release-4.21] csv: manifest: regenerate with terminationMessagePolicy
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

konflux: update NROP to version 4.21.1
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-20515: manifests: implement startup probe
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: numaresources-operator-bundle-4-20-on-push

konflux: bump operator version to 4.21.1
  .konflux/bundle/overlay/release.in.yaml
Due: none

konflux: set tag to 4.22.0
  .konflux/bundle/overlay/release.in.yaml
Due: none

Revert "konflux: update NROP to version 4.21.1"
  .konflux/bundle/overlay/release.in.yaml
Due: none

csv: manifest: regenerate with terminationMessagePolicy
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

crds: use CEL to enforce unique names and singleton CRs
  api/v1/numaresourcesoperator_types.go
  api/v1/numaresourcesscheduler_types.go
  config/crd/bases/nodetopology.openshift.io_numaresourcesoperators.yaml
  config/crd/bases/nodetopology.openshift.io_numaresourcesschedulers.yaml
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/status/status.go
  test/e2e/install/install_test.go
Due: numaresources-operator-bundle-4-20-on-push

konflux: add NROP version 4.21.1 to catalog template
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

operator: add and use lifecycle event handlers
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  cmd/main.go
  config/manager/manager.yaml
Due: numaresources-operator-bundle-4-20-on-push

workflow: validate renovate config
  .github/workflows/check-renovate.yaml
Due: none

tree: update must gather upstream base to 4.22
  Dockerfile.must-gather
Due: none

konflux: CNF-21668: Align bundle labels with annotations.yaml
  .konflux/bundle/bundle.konflux.Dockerfile
Due: numaresources-operator-bundle-4-20-on-push

chore(owners): add by2waysprojects to konflux-approvers alias
  OWNERS_ALIASES
Due: none

konflux: update ubi image to latest
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-operator-4-12-pull-request.yaml
  .tekton/numaresources-operator-4-12-push.yaml
Due: none

konflux: add shared lib Rework makefile and d/s konflux mechanism to make use of telco5g-konflux shared library
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-4-12-pull-request.yaml
  .tekton/numaresources-operator-4-12-push.yaml
  .tekton/numaresources-operator-bundle-4-12-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-12-push.yaml
  .tekton/numaresources-operator-fbc-4-12-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-12-push.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

konflux: use legacy catalog generation
  Makefile
Due: none

konflux: add cpe label
  .konflux/operator/konflux.Dockerfile
Due: none

konflux: update makefile catalog default
  Makefile
Due: none

build: mg: use `latest`base and fetch the digest in tekton
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .tekton/build-pipeline-must-gather.yaml
Due: numaresources-must-gather-4-20-on-pull-request

konflux: update catalog template and bundle ymls
  .konflux/bundle/overlay/overlay.bash
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)
