Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-18-pull-request.yaml
  .tekton/numaresources-must-gather-4-18-push.yaml
  .tekton/numaresources-operator-4-18-pull-request.yaml
  .tekton/numaresources-operator-4-18-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-17-pull-request.yaml
  .tekton/numaresources-must-gather-4-17-push.yaml
  .tekton/numaresources-operator-4-17-pull-request.yaml
  .tekton/numaresources-operator-4-17-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-16-pull-request.yaml
  .tekton/numaresources-must-gather-4-16-push.yaml
  .tekton/numaresources-operator-4-16-pull-request.yaml
  .tekton/numaresources-operator-4-16-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-14-pull-request.yaml
  .tekton/numaresources-must-gather-4-14-push.yaml
  .tekton/numaresources-operator-4-14-pull-request.yaml
  .tekton/numaresources-operator-4-14-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: numaresources-operator-bundle-4-20-on-push

konflux: renovate rpm lockfile and container configuration
  renovate.json
Due: none

rte: disallow to dump the config to a file
  rte/main.go
Due: none

ctrl: kubeletConfig: handle paused MCPs
  internal/controller/kubeletconfig_controller.go
  internal/controller/kubeletconfig_controller_test.go
  internal/kubeletconfig/kubeletconfig.go
  internal/kubeletconfig/kubeletconfig_test.go
  internal/reconcile/step.go
Due: none

ctrl: nro: handle paused MCPs
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/controller/numaresourcesscheduler_controller.go
  pkg/objectstate/rte/machineconfigpool.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

CNF-21239: Update FBC base image to 4.22
  .konflux/Dockerfile.catalog
Due: numaresources-operator-fbc-4-21-on-pull-request

fix: update Dockerfile to correct numaresources operator name
  .konflux/operator/konflux.Dockerfile
Due: none

GH actions: run CI on all supported main branches
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
Due: none

chore(deps): update registry.access.redhat.com/ubi9/ubi-minimal:latest docker digest to 90bd85d
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request

objectstate: use existing object as a base
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/rte/rte.go
  pkg/objectupdate/rte/rte.go
Due: none

objectupdate: generelize volumes creation
  pkg/numaresourcesscheduler/objectstate/sched/sched.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
  pkg/objectupdate/volume/volume.go
  pkg/objectupdate/volume/volume_test.go
Due: none

ctrl: kubeletconfig: introduce reconcileErrorHandler
  internal/controller/kubeletconfig_controller.go
Due: none

ctrl: nro: reconcile on node group with poolName
  internal/controller/numaresourcesoperator_controller.go
Due: none

ctrl:kubeletconfig: use MCP predicate instead of requeue
  internal/controller/kubeletconfig_controller.go
  internal/controller/kubeletconfig_controller_test.go
Due: none

ctrl: kubeletConfig: handle paused MCPs
  internal/controller/kubeletconfig_controller.go
  internal/controller/kubeletconfig_controller_test.go
  internal/kubeletconfig/kubeletconfig.go
  internal/kubeletconfig/kubeletconfig_test.go
Due: none

workflow: validate renovate config
  .github/workflows/check-renovate.yaml
Due: none

csv: manifest: regenerate with termiationMessagePolicy
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

e2e:serial: log more and fix test expectation
  test/e2e/serial/tests/configuration.go
Due: none

api: helpers: more verbose NodeGroup.ToString()
  api/v1/numaresourcesoperator_types.go
  api/v1/numaresourcesoperator_types_test.go
Due: none

test: fixture: move code around
  test/e2e/serial/tests/configuration.go
  test/internal/fixture/fixture.go
  test/internal/fixture/node_selection.go
Due: none

e2e: serial: confg: 84311: wait for the right condition
  test/e2e/serial/tests/configuration.go
Due: none

e2e: serial: config: use the generalized isNROOperSyncedAt
  test/e2e/serial/tests/configuration.go
Due: none

e2e: serial: config: make is*SyncedAt return error
  test/e2e/serial/tests/configuration.go
Due: none
