Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

e2e: tol: fix flakiness by refreshing DS in Eventually block
  test/e2e/serial/tests/tolerations.go
Due: none

Update catalog template to include final 4.12.16 image
  .konflux/catalog/bundle.builds.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

workspace test
  .tekton/build-pipeline-must-gather.yaml
  .tekton/numaresources-must-gather-4-22-pull-request.yaml
  .tekton/numaresources-must-gather-4-22-push.yaml
Due: none

konflux: fix 4.12 operator name label
  .konflux/operator/konflux.Dockerfile
Due: none

konflux: fix bundle name label
  .konflux/bundle/bundle.konflux.Dockerfile
Due: numaresources-operator-bundle-4-20-on-push

Revert "konflux: renovate rpm lockfile and container configuration"
  renovate.json
Due: none

use latest tag
  .konflux/must-gather/must-gather.konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request

selinux: job to remove dangling policies
  Makefile
  README.md
  hack/remove-selinux-policy.sh
  hack/restore-selinux-context-job.sh
  hack/restore-selinux-context.sh
  tools/make-job-foreach-ds/main.go
Due: numaresources-operator-bundle-4-20-on-push

build: mg: unpin base digest in dockerfile but assign it at runtime
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .tekton/build-pipeline-must-gather.yaml
Due: numaresources-must-gather-4-20-on-pull-request

api: use CEL to enforce a singleton resource
  api/v1/numaresourcesoperator_types.go
  api/v1/numaresourcesscheduler_types.go
  config/crd/bases/nodetopology.openshift.io_numaresourcesoperators.yaml
  config/crd/bases/nodetopology.openshift.io_numaresourcesschedulers.yaml
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  test/e2e/install/install_test.go
Due: numaresources-operator-bundle-4-20-on-push

e2e: add test label `mgselinuxcollect`
  internal/api/features/_topics.json
  test/e2e/must-gather/must_gather_test.go
Due: none

konflux: bump version to 4.12.17
  .konflux/bundle/overlay/overlay.bash
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

nrop: tls: Conform to centralized TLS profile
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/numaresourcesoperator_controller.go
Due: numaresources-operator-bundle-4-20-on-push

nrop: manifests: Add OpenShift CSV annotations to base manifest
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

nrop: manifests: regenerate bundle
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

nrop: deps: pin kube-openapi so apimachinery typeconverter builds
  go.mod
  go.sum
  vendor/k8s.io/kube-openapi/cmd/openapi-gen/args/args.go
  vendor/k8s.io/kube-openapi/cmd/openapi-gen/openapi-gen.go
  vendor/k8s.io/kube-openapi/pkg/common/common.go
  vendor/k8s.io/kube-openapi/pkg/generators/config.go
  vendor/k8s.io/kube-openapi/pkg/generators/model_names.go
  vendor/k8s.io/kube-openapi/pkg/generators/openapi.go
  vendor/k8s.io/kube-openapi/pkg/schemaconv/openapi.go
  vendor/k8s.io/kube-openapi/pkg/schemaconv/proto_models.go
  vendor/k8s.io/kube-openapi/pkg/schemaconv/smd.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/document.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/document_v3.go
  vendor/modules.txt
Due: none

Makefile: bump setup-envtest to release-0.19
  Makefile
Due: none

rte: disallow to dump the config to a file
  rte/main.go
Due: none

Fix trailing whitespace in test-kustomize.sh
  hack/test-kustomize.sh
Due: numaresources-operator-bundle-4-20-on-push

konflux: CNF-21668: Align bundle labels with annotations.yaml
  .konflux/bundle/bundle.konflux.Dockerfile
Due: numaresources-operator-bundle-4-20-on-push

owners: add by2waysprojects to konflux-approvers alias
  OWNERS_ALIASES
Due: none

ctrl: readd wrong-name mitigation logic
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
Due: none

e2e: tol: fix flakiness by refreshing DS in Eventually block
  internal/wait/daemonset.go
  test/e2e/serial/tests/tolerations.go
Due: none

nrop: snyk: exclude vendor/github.com/prometheus from code scan
  .snyk
Due: none

nrop: cfg: fix TestFromClient for fake client behavior
  pkg/objectstate/cfg/cfg_test.go
Due: none

e2e: add schedulable CP and Compact cluster node group config tests
  test/e2e/label/label.go
  test/e2e/serial/tests/configuration.go
Due: none

nrop: pkg/objectstate/merge: simplify merge kind check
  pkg/objectstate/merge/merge.go
Due: none
