Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

e2e: print mg output
  test/e2e/must-gather/must_gather_test.go
Due: none

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/build-pipeline.yaml
  .tekton/numaresources-must-gather-4-20-pull-request.yaml
  .tekton/numaresources-must-gather-4-20-push.yaml
  .tekton/numaresources-operator-4-20-pull-request.yaml
  .tekton/numaresources-operator-4-20-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

infra: switch to 4.22
  .github/workflows/release-testsuite.yaml
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/features/types.go
  internal/controller/numaresourcesscheduler_controller_test.go
  test/e2e/must-gather/must_gather_suite_test.go
Due: numaresources-operator-bundle-4-20-on-push

.konflux: switch main to 4.22
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

tekton: main is 4.22
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/numaresources-must-gather-4-22-pull-request.yaml
  .tekton/numaresources-must-gather-4-22-push.yaml
  .tekton/numaresources-operator-4-22-pull-request.yaml
  .tekton/numaresources-operator-4-22-push.yaml
  .tekton/numaresources-operator-bundle-4-22-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-22-push.yaml
  .tekton/numaresources-operator-fbc-4-22-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-22-push.yaml
Due: numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Red Hat Konflux update numaresources-must-gather-4-22
  .tekton/numaresources-must-gather-4-22-pull-request.yaml
  .tekton/numaresources-must-gather-4-22-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-fbc-4-22
  .tekton/numaresources-operator-fbc-4-22-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-22-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-bundle-4-22
  .tekton/numaresources-operator-bundle-4-22-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-22-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-4-22
  .tekton/numaresources-operator-4-22-pull-request.yaml
  .tekton/numaresources-operator-4-22-push.yaml
Due: none

[4.20] status: set ObservedGeneration in all status conds
  internal/api/features/_topics.json
  internal/controller/numaresourcesoperator_controller.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

intapi: features: fix and clarify version
  internal/api/features/types.go
Due: none

e2e: fixture: use explicit context
  test/e2e/serial/config/fixture.go
  test/internal/fixture/fixture.go
Due: none

e2e: serial: config: get cluster topics at startup
  test/e2e/serial/config/fixture.go
  test/e2e/serial/config/infra.go
Due: none

topics: add and use operobsgen
  internal/api/features/_topics.json
  test/e2e/serial/tests/configuration.go
Due: none

e2e: serial: config: restore previous check
  test/e2e/serial/tests/configuration.go
Due: none

sched: manifest: disable dynamic resources plugin
  pkg/numaresourcesscheduler/manifests/yaml/configmap.nrt.yaml
Due: none

Konflux: adopt telco5g-konflux shared scripts
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/overlay.bash
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Konflux: Sort on-cel-expression file paths && add telco5g-konflux to it
  .tekton/numaresources-must-gather-4-19-pull-request.yaml
  .tekton/numaresources-must-gather-4-19-push.yaml
  .tekton/numaresources-operator-4-19-pull-request.yaml
  .tekton/numaresources-operator-4-19-push.yaml
  .tekton/numaresources-operator-bundle-4-19-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-19-push.yaml
  .tekton/numaresources-operator-fbc-4-19-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-19-push.yaml
Due: none

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-19-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-19-push.yaml
  Makefile
Due: numaresources-operator-fbc-4-21-on-pull-request

Rework makefile and d/s konflux mechanism to make use of telco5g-konflux shared library
  .gitmodules
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

Konflux: Sort on-cel-expression file paths && add telco5g-konflux to it
  .tekton/numaresources-must-gather-4-18-pull-request.yaml
  .tekton/numaresources-must-gather-4-18-push.yaml
  .tekton/numaresources-operator-4-18-pull-request.yaml
  .tekton/numaresources-operator-4-18-push.yaml
  .tekton/numaresources-operator-bundle-4-18-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-18-push.yaml
  .tekton/numaresources-operator-fbc-4-18-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-18-push.yaml
Due: none

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-18-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-18-push.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

konflux: use telco5g-konflux shared library
  .gitmodules
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

Konflux: Sort on-cel-expression file paths && add telco5g-konflux to it
  .tekton/numaresources-must-gather-4-17-pull-request.yaml
  .tekton/numaresources-must-gather-4-17-push.yaml
  .tekton/numaresources-operator-4-17-pull-request.yaml
  .tekton/numaresources-operator-4-17-push.yaml
  .tekton/numaresources-operator-bundle-4-17-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-17-push.yaml
  .tekton/numaresources-operator-fbc-4-17-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-17-push.yaml
Due: none

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-17-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-17-push.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

konflux: fix typo in release template
  .konflux/bundle/overlay/release.in.yaml
Due: none

Konflux: Sort on-cel-expression file paths && add telco5g-konflux to it
  .tekton/numaresources-must-gather-4-16-pull-request.yaml
  .tekton/numaresources-must-gather-4-16-push.yaml
  .tekton/numaresources-operator-4-16-pull-request.yaml
  .tekton/numaresources-operator-4-16-push.yaml
  .tekton/numaresources-operator-bundle-4-16-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-16-push.yaml
  .tekton/numaresources-operator-fbc-4-16-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-16-push.yaml
Due: none

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-16-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-16-push.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

Konflux: Sort on-cel-expression file paths && add telco5g-konflux to it
  .tekton/numaresources-must-gather-4-14-pull-request.yaml
  .tekton/numaresources-must-gather-4-14-push.yaml
  .tekton/numaresources-operator-4-14-pull-request.yaml
  .tekton/numaresources-operator-4-14-push.yaml
  .tekton/numaresources-operator-bundle-4-14-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-14-push.yaml
  .tekton/numaresources-operator-fbc-4-14-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-14-push.yaml
Due: none

serial: enhance TMScope tests to support compact cluster resources
  internal/baseload/baseload.go
  internal/resourcelist/resourcelist.go
  test/e2e/serial/tests/workload_placement.go
  test/e2e/serial/tests/workload_placement_tmscope_cnt.go
  test/e2e/serial/tests/workload_placement_tmscope_pod.go
Due: none

konflux: align operator and bundle 4.22 images
  .konflux/bundle/overlay/pin_images.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

WIP: validate test resources
  test/e2e/serial/tests/workload_placement_tmscope_cnt.go
Due: none

konflux: Configure NRO FBC for hermetic rendering
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-14-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-14-push.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

e2e: skip if cluster version less than 4.22
  test/e2e/must-gather/must_gather_test.go
Due: none

konflux: Migrate to ubi base images
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/must-gather/redhat.repo
  .konflux/must-gather/rpms.in.yaml
  .konflux/must-gather/rpms.lock.yaml
  .konflux/operator/konflux.Dockerfile
  .konflux/operator/redhat.repo
  .konflux/operator/rpms.in.yaml
  .konflux/operator/rpms.lock.yaml
  .tekton/numaresources-must-gather-4-19-pull-request.yaml
  .tekton/numaresources-must-gather-4-19-push.yaml
  .tekton/numaresources-operator-4-19-pull-request.yaml
  .tekton/numaresources-operator-4-19-push.yaml
  Makefile
  renovate.json
Due: numaresources-must-gather-4-20-on-pull-request
