Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)

controller: sched: use current resource status as base for updated
  controllers/numaresourcesscheduler_controller.go
Due: none

controller: sched: detect and use cluster properties
  controllers/numaresourcesscheduler_controller.go
  controllers/numaresourcesscheduler_controller_test.go
  internal/platforminfo/platforminfo.go
  internal/platforminfo/platforminfo_test.go
  internal/platforminfo/supportversion.go
  internal/platforminfo/supportversion_test.go
  main.go
Due: none

controller: sched: update status only if needed
  controllers/numaresourcesscheduler_controller.go
  controllers/numaresourcesscheduler_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

controller: sched: conditionally enable Shared informer by default
  api/numaresourcesoperator/v1/numaresourcesscheduler_types.go
  controllers/numaresourcesscheduler_controller.go
  controllers/numaresourcesscheduler_controller_test.go
  main.go
Due: none

controller: sched: report DedicatedInformerActive behavior
  controllers/numaresourcesscheduler_controller.go
  controllers/numaresourcesscheduler_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
  test/e2e/sched/install/install_test.go
Due: none

controller: sched: update status only if needed
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesscheduler_controller.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

tree: make main point to 4.21
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/release-testsuite.yaml
  .konflux/Dockerfile.catalog
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/overlay.bash
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/numaresources-must-gather-4-21-pull-request.yaml
  .tekton/numaresources-must-gather-4-21-push.yaml
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
  .tekton/numaresources-operator-bundle-4-21-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-21-push.yaml
  .tekton/numaresources-operator-fbc-4-20-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
  Dockerfile.must-gather
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/features/types.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/platforminfo/platforminfo_test.go
  internal/platforminfo/supportversion.go
  internal/platforminfo/supportversion_test.go
  test/e2e/must-gather/must_gather_suite_test.go
Due: numaresources-operator-bundle-4-20-on-push

podlist: kickoff the unit tests
  internal/podlist/conv_test.go
  internal/podlist/find_test.go
  internal/podlist/node_test.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/modules.txt
Due: none

status: cleanup and redesign
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

Red Hat Konflux update numaresources-must-gather-4-21
  .tekton/numaresources-must-gather-4-21-pull-request.yaml
  .tekton/numaresources-must-gather-4-21-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-bundle-4-21
  .tekton/numaresources-operator-bundle-4-21-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-21-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-4-21
  .tekton/numaresources-operator-4-21-pull-request.yaml
  .tekton/numaresources-operator-4-21-push.yaml
Due: none

Red Hat Konflux update numaresources-operator-fbc-4-21
  .tekton/numaresources-operator-fbc-4-21-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-21-push.yaml
Due: none

Konflux: adopt telco5g-konflux shared scripts
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

Remove local overlay script and adjust base yaml
  .konflux/bundle/overlay/overlay.bash
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

doc: examples: fully formed defaults
  doc/examples/sched.yaml
Due: none

platforminfo: restore 4.20 supportversion for podresources
  internal/platforminfo/supportversion.go
Due: none

[4.16] test selinux issue
  README.md
Due: none

[4.15] test selinux issue
  README.md
Due: none

e2e: serial: sched stall test fixes
  internal/wait/pod.go
  test/e2e/serial/tests/scheduler_cache_stall.go
  test/internal/fixture/fixture.go
Due: none

deps: deployer bump to get new access allowance
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/assets/selinux/consts.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/assets/selinux/policy/ocp_v4.17.cil
  vendor/modules.txt
Due: none

align Y version to 21 for konflux releases
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/pin_images.in.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

chore(KONFLUX-6210): fix and set name and cpe label for numaresources-must-gather-4-14
  .konflux/must-gather/must-gather.konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request

Dockerfile: add tooling to build a container only with RTE
  Dockerfile.openshift.rte
  Dockerfile.rte
  Makefile
Due: none

deps: rte: consume v0.21.5
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/config.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/resourcemonitor/resourcemonitor.go
  vendor/modules.txt
Due: none

tools: introduce `pfpsyncchk`
  Makefile
  go.mod
  go.sum
  tools/pfpsyncchk/pfpsyncchk.go
  tools/pfpsyncchk/pfpsyncchk_test.go
  tools/pfpsyncchk/testdata/empty-file.json
  tools/pfpsyncchk/testdata/rte-file-1.json
  tools/pfpsyncchk/testdata/rte-file-multi.json
  tools/pfpsyncchk/testdata/sched-file-1.json
  tools/pfpsyncchk/testdata/sched-file-2.json
  tools/pfpsyncchk/testdata/sched-file-multi.json
  vendor/github.com/k8stopologyawareschedwg/podfingerprint/.gitignore
  vendor/github.com/k8stopologyawareschedwg/podfingerprint/tracing.go
  vendor/github.com/openshift-kni/debug-tools/LICENSE
  vendor/github.com/openshift-kni/debug-tools/pkg/pfpstatus/record/codec.go
  vendor/github.com/openshift-kni/debug-tools/pkg/pfpstatus/record/recorder.go
  vendor/modules.txt
Due: none

tools: remove `nrtcacheck`
  Makefile
  tools/nrtcacheck/nrtcacheck.go
Due: none

must-gather: run `pfpsyncc` on the collected reports and save results
  .konflux/must-gather/must-gather.konflux.Dockerfile
  Dockerfile.must-gather
  must-gather/collection-scripts/gather_pfp
Due: numaresources-must-gather-4-20-on-pull-request

must-gather: collect PFP debugging logs
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_pfp
Due: numaresources-must-gather-4-20-on-pull-request

e2e: Serial: Added test ids to the workload placement tests
  test/e2e/serial/tests/workload_placement_no_nrt.go
  test/e2e/serial/tests/workload_placement_tmpol.go
Due: none

e2e: Serial: Added test ids to the untagged serial tests
  test/e2e/serial/tests/non_regression_fundamentals.go
  test/e2e/serial/tests/resource_hostlevel.go
Due: none
