Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

numaresources-must-gather-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-must-gather-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

numaresources-operator-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

numaresources-operator-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

nrop: tls: Conform to centralized TLS profile
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/numaresourcesoperator_controller.go
Due: numaresources-operator-bundle-4-20-on-push

nrop: manifests: Add OpenShift CSV annotations to base manifest
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

cmd: use cancellable context and exitWithCancel for TLS profile shutdown
  cmd/main.go
Due: none

nrop: manifests: regenerate bundle
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

e2e: fix misleading skip messages when filtering by policy and scope
  test/e2e/serial/tests/workload_placement_resources.go
  test/e2e/serial/tests/workload_placement_tmpol.go
  test/e2e/serial/tests/workload_unschedulable.go
Due: none

internal: clean up and simplify equality comparison
  internal/noderesourcetopology/equality.go
Due: none

controller: allow reporting RTE DS with zero desired
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesoperator_controller_test.go
Due: none

controller: update operator status on successful reconciliation
  controllers/numaresourcesoperator_controller.go
Due: none

controller tests: check status updates
  controllers/numaresourcesoperator_controller_test.go
Due: none

CNF-20515: manifests: implement startup probe
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: numaresources-operator-bundle-4-20-on-push

OCPBUGS-78709: sched: use burstable QOS by default
  doc/examples/sched.yaml
  internal/api/annotations/annotations.go
  internal/api/annotations/annotations_test.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
Due: none

Makefile: bump setup-envtest to release-0.19
  Makefile
Due: none

manifests: add annotation to link must-gather image
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

sched: return error if container not found
  cmd/main.go
  internal/controller/numaresourcesscheduler_controller.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
Due: none

sched: comply to TLS profile
  cmd/main.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/tls/tls.go
  internal/tls/tls_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
Due: none

controllers: make sure to watch support resources
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
Due: none

konflux: bump operator version to 4.21.2
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

tls: internal -> pkg/objectupdate, and remove redundant validation
  cmd/main.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/tls/tls.go
  internal/tls/tls_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
  pkg/objectupdate/tls/tls.go
  pkg/objectupdate/tls/tls_test.go
Due: none

doc: example: update ctrreschk example
  doc/examples/pod.ctrreschk.yaml
Due: none

e2e: add TLS profile modification test
  test/e2e/serial/tests/configuration.go
Due: none

TBD: e2e endpoint verification
  config/manager/kustomization.yaml
  internal/api/features/_topics.json
  test/e2e/serial/config/config.go
  test/e2e/serial/tests/configuration.go
  test/internal/images/consts.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/clientutil/nodes/nodes.go
Due: numaresources-operator-bundle-4-20-on-push

ctrl: sched: add PodAntiAffinity to deployment
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
Due: none

TBD
  test/e2e/serial/tests/configuration.go
  test/internal/clients/clients.go
Due: none

bump go builders to 1.25
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
  Dockerfile
  Dockerfile.must-gather
  Dockerfile.pause
  Dockerfile.rte
  Dockerfile.tests
  test/deviceplugin/cmd/numacell/Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request

deps: bump resource-topology-exporter for metrics TLS flags
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/cfgdispatch.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/environ.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/flags.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/metrics/server/setup.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/metrics/server/tls_policy.go
  vendor/modules.txt
Due: none

rte: tls: align RTE metrics with cluster TLS settings
  cmd/main.go
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
Due: none

e2e: fix RTE DaemonSet after ExporterImage update test failure in CI
  test/e2e/install/install_test.go
Due: none

konflux: bump operator version to 4.20.2
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

objectstate: use existing object as a base
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/api/api.go
  pkg/objectstate/rte/rte.go
  pkg/objectupdate/rte/rte.go
Due: none

objectupdate: generelize volumes creation
  pkg/numaresourcesscheduler/objectstate/sched/sched.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
  pkg/objectupdate/volume/volume.go
  pkg/objectupdate/volume/volume_test.go
Due: none

Dockerfile: disable rhel repo
  Dockerfile
Due: none

konflux: bump NROP 4.19.3
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Red Hat Konflux purge numaresources-must-gather-4-17
  .tekton/numaresources-must-gather-4-17-pull-request.yaml
  .tekton/numaresources-must-gather-4-17-push.yaml
Due: none

Red Hat Konflux purge numaresources-operator-4-17
  .tekton/numaresources-operator-4-17-pull-request.yaml
  .tekton/numaresources-operator-4-17-push.yaml
Due: none

Red Hat Konflux purge numaresources-operator-bundle-4-17
  .tekton/numaresources-operator-bundle-4-17-pull-request.yaml
  .tekton/numaresources-operator-bundle-4-17-push.yaml
Due: none

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)
