Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

cleanup: remove unused `IsCustomPolicyEnabled` variable
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/nodegroup.go
  pkg/objectstate/rte/rte.go
Due: none

Add test case related updating of TLS profile
  test/e2e/rte/rte_test.go
Due: none

RTE: use the same pattern for PodAntiAffinity settings
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
Due: none

ctrl: sched: add PodAntiAffinity to deployment
  internal/affinity/affinity.go
  internal/affinity/affinity_test.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/objectupdate/sched/sched.go
  pkg/objectupdate/sched/sched_test.go
Due: none

e2e: tls: verify TLS modifications effect
  internal/api/features/_topics.json
  internal/remoteexec/command.go
  test/e2e/tls/tls_suite_test.go
  test/e2e/tls/tls_test.go
  test/internal/clients/clients.go
  test/internal/tls/tls.go
  test/internal/tls/tls_test.go
Due: none

tekton: main is 5.0
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/numaresources-must-gather-5-0-pull-request.yaml
  .tekton/numaresources-must-gather-5-0-push.yaml
  .tekton/numaresources-operator-5-0-pull-request.yaml
  .tekton/numaresources-operator-5-0-push.yaml
  .tekton/numaresources-operator-bundle-5-0-pull-request.yaml
  .tekton/numaresources-operator-bundle-5-0-push.yaml
  .tekton/numaresources-operator-fbc-5-0-pull-request.yaml
  .tekton/numaresources-operator-fbc-5-0-push.yaml
Due: numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

.konflux: switch main to 5.0
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

infra: switch to 5.0
  .github/workflows/release-testsuite.yaml
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/features/types.go
  internal/buildinfo/buildinfo_test.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/platforminfo/platforminfo_test.go
  test/e2e/must-gather/must_gather_suite_test.go
Due: numaresources-operator-bundle-4-20-on-push

konflux: CNF-22577:Update skipRange lower bound to >=4.20.0 for main(4.22)
  .konflux/catalog/catalog-template.in.yaml
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

Fix flaky timeout in pod running state.
  test/e2e/serial/tests/workload_placement_no_nrt.go
Due: none

makefile: add version to golangci-lint make target
  Makefile
Due: none

Dockerfile: disable RHEL repos when installing hwdata
  Dockerfile
Due: none

Verify mcp pools are updated to correct configuration
  test/e2e/rte/rte_test.go
Due: none

Minor Expect message fixes
  test/e2e/rte/rte_test.go
Due: none

stage 1
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
  test/e2e/serial/tests/configuration.go
Due: none

stage 2
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/machineconfigpool_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

stage 3 part 1
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/rte/rte.go
Due: none

stage 3 part 2
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/rte.go
Due: none

objectstate/rte: per-pool MachineConfig state with paused MCP awareness
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

status: add MachineConfigPoolPaused condition for observability
  internal/controller/numaresourcesoperator_controller.go
  pkg/status/status.go
Due: none

tests: add unit and e2e tests for per-pool MachineConfig wait
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool_test.go
  test/e2e/serial/tests/configuration.go
Due: none

rte: configfile support
  internal/api/annotations/annotations.go
  internal/api/annotations/annotations_test.go
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/dangling/dangling.go
  pkg/hash/configmap.go
  pkg/objectnames/objectnames.go
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/nodegroup.go
  pkg/objectstate/rte/rte.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
  rte/pkg/config/daemonconfig.go
Due: none

objectstate/rte: per-pool MachineConfig wait function
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

objectstate/rte: skip paused MCPs during MachineConfig sync
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool.go
Due: none

status: add MachineConfigPoolPaused condition for observability
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

tests: add unit and e2e tests for MachineConfigsState
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool_test.go
  test/e2e/serial/tests/configuration.go
Due: none

.konflux: switch main to 5.0
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

infra: switch to 5.0
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/release-testsuite.yaml
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/annotations/annotations.go
  internal/api/features/types.go
  internal/buildinfo/buildinfo_test.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/platforminfo/platforminfo_test.go
  test/e2e/must-gather/must_gather_suite_test.go
Due: numaresources-operator-bundle-4-20-on-push

objectstate/rte: per-pool MachineConfig wait function
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/rte.go
Due: none

tests: add unit and e2e tests for MachineConfigsState
  controllers/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/machineconfigpool_test.go
  test/e2e/serial/tests/configuration.go
Due: none

objectstate/rte: skip paused MCPs during MachineConfig sync
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesoperator_controller_test.go
  pkg/objectstate/rte/rte.go
Due: none

status: add MachineConfigPoolPaused condition for observability
  controllers/numaresourcesoperator_controller.go
  controllers/numaresourcesoperator_controller_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

fixup: adapt cherry-picked commits for release-4.18
  controllers/numaresourcesoperator_controller.go
  pkg/status/status.go
  test/e2e/serial/tests/configuration.go
Due: none

CNF-23355: Upstream release-config version bump (4.16.8)
  .konflux/bundle/overlay/release.in.yaml
Due: none

CNF-23355: Upstream catalog-template update (4.16.8)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request
