Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push

numaresources-must-gather-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-must-gather-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

numaresources-operator-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

.gemini: ignore `vendor`
  .gemini/config.yaml
Due: none

CNF-19551: Bump NROP 4.17.z version to 4.17.6
  .konflux/bundle/overlay/overlay.bash
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-19551: Bump NROP 4.14.z version to 4.14.11
  .konflux/bundle/overlay/overlay.bash
  .konflux/catalog/catalog-template.in.yaml
Due: none

konflux: update bundle and operator references
  .konflux/bundle/overlay/overlay.bash
  .konflux/bundle/overlay/pin_images.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

konflux: update opm image to use rh registry
  .konflux/Dockerfile.catalog
Due: none

Konflux: adopt telco5g-konflux shared scripts
  .gitmodules
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/catalog-template.in.yaml
  Makefile
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
Due: numaresources-operator-bundle-4-20-on-push

align Y version to 21 for konflux releases
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/release.in.yaml
  Makefile
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

Remove local overlay script and adjust base yaml
  .konflux/bundle/overlay/overlay.bash
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

konflux: Update makefile - Replace several targets and scripts with the version in the subproject shared library - Add several new makefile targets
  Makefile
Due: none

konflux: update base csv labels
  .konflux/bundle/overlay/release.in.yaml
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

konflux: update mirror to point to rhel8
  .tekton/images-mirror-set.yaml
Due: none

must-gather: collect selinux info
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_selinux
Due: numaresources-must-gather-4-20-on-pull-request

pkg: status: use u/s function to find conditions
  pkg/status/status.go
Due: none

status: SS-conditions: update base conditions properly
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

pkg: status: return updated conditions instead of mutating
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

controllers: cleanup status conditions update
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
  pkg/status/conditioninfo/conditioninfo.go
  pkg/status/status.go
  pkg/status/status_test.go
  test/e2e/serial/tests/configuration.go
Due: none

controller: test: factor out platform-independent tests
  internal/controller/numaresourcesoperator_controller_test.go
Due: none

controller: nrop: refactor rte update code
  internal/controller/numaresourcesoperator_controller.go
Due: none

controller: rte: set terminationMessagePolicy for the operand
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
Due: none

controller: rte: set terminationMessagePolicy for the operator
  config/manager/manager.yaml
Due: numaresources-operator-bundle-4-20-on-push

Revert ".gemini: ignore `vendor`"
  .gemini/config.yaml
Due: none

must-gather: install required bins
  Dockerfile.must-gather
  test/e2e/must-gather/must_gather_suite_test.go
Due: none

e2e: must-gather: use updated test image
  Dockerfile.must-gather
  test/e2e/must-gather/must_gather_suite_test.go
Due: none

ci:gh: update crd url
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

test freshly built MG image
  Makefile
Due: none

e2e:mg: use image reference variable
  test/e2e/must-gather/must_gather_suite_test.go
  test/e2e/must-gather/must_gather_test.go
Due: none

e2e: print mg output
  test/e2e/must-gather/must_gather_test.go
Due: none

ctrl: nro: handle paused MCPs
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  internal/controller/numaresourcesscheduler_controller.go
  pkg/objectstate/rte/machineconfigpool.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: none

ctrl: kubeletConfig: handle paused MCPs
  internal/controller/kubeletconfig_controller.go
  internal/controller/kubeletconfig_controller_test.go
  internal/kubeletconfig/kubeletconfig.go
  internal/kubeletconfig/kubeletconfig_test.go
  internal/reconcile/step.go
Due: none

e2e: serial: kickoff introspection tests
  test/e2e/serial/tests/introspection.go
Due: none

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
