Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

numaresources-must-gather-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-must-gather-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

numaresources-operator-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

numaresources-operator-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/numaresources-operator-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

ci: fix verify-commits to diff against PR base branch
  .github/workflows/ci.yaml
Due: none

hack: use release-4.20 openshift/api branch for MCO CRD URLs
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

fix lint errors
  internal/controller/numaresourcesoperator_controller.go
Due: none

gh:ci: enable workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
Due: none

hack: use release-4.19 openshift/api branch for MCO CRD URLs
  hack/deploy-mco-crds.sh
Due: numaresources-operator-bundle-4-20-on-push

fix lint errors
  internal/controller/numaresourcesoperator_controller.go
  internal/platforminfo/supportversion.go
Due: none

CNF-25747: Upstream release-config version bump (4.21.3)
  .konflux/bundle/overlay/release.in.yaml
Due: none

use Go 1.25 (latest patch) to fix govulncheck failures
  .github/workflows/ci.yaml
  .github/workflows/govulncheck.yaml
  go.mod
Due: none

bump e2e workflow Go version to 1.25
  .github/workflows/e2e.yaml
Due: none

e2e: serial: eximage: fix delete/redeploy test
  test/e2e/install/install_test.go
Due: none

e2e: skip teardown only if deployer is nil
  test/e2e/install/install_test.go
Due: none

fix: disallow custom exporter image by default
  api/v1/numaresourcesoperator_types.go
  bundle/manifests/nodetopology.openshift.io_numaresourcesoperators.yaml
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/bases/nodetopology.openshift.io_numaresourcesoperators.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/status/status.go
  test/e2e/serial/tests/configuration.go
Due: numaresources-operator-bundle-4-20-on-push

e2e: serial: eximage: check behavior with/without disable flag
  test/e2e/install/install_test.go
Due: none

fix: narrow down rbacs and pin to resource names
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/kubeletconfig_controller.go
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
Due: numaresources-operator-bundle-4-20-on-push

rbac: narrow down permissions clusterscope -> namespace scope
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/kubeletconfig_controller.go
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
Due: numaresources-operator-bundle-4-20-on-push

controller: nrop: kubelet: remove events
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/kubeletconfig_controller.go
  internal/controller/kubeletconfig_controller_test.go
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
Due: numaresources-operator-bundle-4-20-on-push

sched: rbac: consolidate the ClusterRole
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/numaresourcesscheduler_controller.go
  pkg/numaresourcesscheduler/manifests/manifests.go
  pkg/numaresourcesscheduler/manifests/manifests_test.go
  pkg/numaresourcesscheduler/manifests/sched/sched.go
  pkg/numaresourcesscheduler/manifests/yaml/clusterrole.nrt.yaml
  pkg/numaresourcesscheduler/manifests/yaml/clusterrolebinding.yaml
  pkg/numaresourcesscheduler/objectstate/sched/sched.go
  pkg/numaresourcesscheduler/objectstate/sched/sched_test.go
  pkg/objectupdate/sched/sched.go
Due: numaresources-operator-bundle-4-20-on-push

rbac: regenerate bundle
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
Due: numaresources-operator-bundle-4-20-on-push

chore: verify-generated to capture the exit value
  hack/verify-generated.sh
Due: numaresources-operator-bundle-4-20-on-push

controller: rbac: move operand RBAC annotations to separate files
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/operand_rbac_rte.go
  internal/controller/operand_rbac_sched.go
Due: none

controller: hypershift: relax configmap rbac rules
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/kubeletconfig_controller.go
Due: numaresources-operator-bundle-4-20-on-push

Revert FBC bundle update to unblock ongoing release
  .konflux/catalog/bundle.builds.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

CNF-25747: Upstream release-config version bump (4.20.3)
  .konflux/bundle/overlay/release.in.yaml
Due: none

chore(deps): update numaresources-operator-bundle-4-20 to d00b043
  .konflux/catalog/bundle.builds.in.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

go: toolchain: pin to 1.25.12
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/release-operator.yaml
  .github/workflows/support-tools.yaml
  Dockerfile.tools
  go.mod
Due: none

status: conditioninfo: add UpdateMessage()
  pkg/status/conditioninfo/conditioninfo.go
  pkg/status/conditioninfo/conditioninfo_test.go
Due: none

api: helper: add Name() helper for nodegroup.Tree
  api/v1/helper/nodegroup/nodegroup.go
  api/v1/helper/nodegroup/nodegroup_test.go
Due: none

reconcile: step: add helpers
  internal/reconcile/step.go
  internal/reconcile/step_test.go
Due: none

nrop: chore: change signature to enable future refactoring
  internal/controller/numaresourcesoperator_controller.go
Due: none

objectstate: rte: add per-tree functions with compat wrappers
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/rte.go
Due: none

controller: chore: move helper around
  internal/controller/numaresourcesoperator_controller.go
Due: none

controller: nrop: add per-tree reconcile functions and helpers
  internal/controller/numaresourcesoperator_controller.go
Due: none

controller: nrop: wire reconcileResource to use per-tree functions
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
Due: none

controller: nrop: narrow MCP status helpers to single tree
  internal/controller/numaresourcesoperator_controller.go
Due: none

controller: nrop: rename syncMachineConfigs to single-tree syncMachineConfig
  internal/controller/numaresourcesoperator_controller.go
Due: none

objectstate: rte: remove compat wrappers, use per-tree API only
  internal/controller/numaresourcesoperator_controller.go
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/machineconfigpool_test.go
  pkg/objectstate/rte/rte.go
Due: none

controller: nrop: switch to vertical per-tree processing
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesoperator_controller_test.go
Due: none

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)
