Repository openshift-kni/numaresources-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

Path conditions:
  numaresources-must-gather-4-20-on-pull-request: ((any of: .tekton/numaresources-must-gather-4-20-pull-request.yaml) or (any of: .konflux/must-gather/***)) or (any of: must-gather/***)
  numaresources-operator-bundle-4-20-on-push: ((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/container-build.args)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: .tekton/numaresources-operator-bundle-4-20-push.yaml)) or (any of: .konflux/bundle/bundle.konflux.Dockerfile)
  numaresources-operator-fbc-4-21-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/numaresources-operator-fbc-4-21-pull-request.yaml)) or (any of: .konflux/catalog/bundle.builds.in.yaml)) or (any of: .konflux/Dockerfile.catalog)

dep: bump RTE to consume numaplacement feature
  go.mod
  go.sum
  rte/main.go
  vendor/github.com/k8stopologyawareschedwg/numaplacement/.gitignore
  vendor/github.com/k8stopologyawareschedwg/numaplacement/LICENSE
  vendor/github.com/k8stopologyawareschedwg/numaplacement/Makefile
  vendor/github.com/k8stopologyawareschedwg/numaplacement/README.md
  vendor/github.com/k8stopologyawareschedwg/numaplacement/doc.go
  vendor/github.com/k8stopologyawareschedwg/numaplacement/leb89/doc.go
  vendor/github.com/k8stopologyawareschedwg/numaplacement/leb89/leb89.go
  vendor/github.com/k8stopologyawareschedwg/numaplacement/numaplacement.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/cfgdispatch.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/cfgfile.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/config.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/defaults.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/environ.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/flags.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/validation.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/metrics/metrics.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/nrtupdater/nrtupdater.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/numalocality/numalocality.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/podreadiness/conditioninjector.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/podres/filter/numalocality/numalocality.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/resourcemonitor/resourcemonitor.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/resourcetopologyexporter/resourceobserver.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/resourcetopologyexporter/resourcetopologyexporter.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/rte/conditions.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/rte/metrics.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/rte/rte.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/topology_updater/topology_updater.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/utils/nodetopology/nodetopology.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/utils/pods/pods.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/test/e2e/utils/pods/rtepod/rtepod.go
  vendor/k8s.io/apimachinery/pkg/util/jsonmergepatch/patch.go
  vendor/modules.txt
Due: none

sched: manifests: enable `preFilter` plugin
  pkg/numaresourcesscheduler/manifests/yaml/configmap.nrt.yaml
Due: none

deps: bump deployer to get new scheduler config
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/manifests/schedparams.go
  vendor/github.com/k8stopologyawareschedwg/deployer/pkg/objectupdate/sched/render.go
  vendor/modules.txt
Due: none

e2e: serial: fix discover RuntimeClass handler from node CRI runtimes
  test/e2e/serial/tests/workload_overhead.go
Due: none

api: sched: introduce `preemptionMode`
  api/v1/numaresourcesscheduler_defaults.go
  api/v1/numaresourcesscheduler_types.go
  api/v1/zz_generated.deepcopy.go
  bundle/manifests/nodetopology.openshift.io_numaresourcesschedulers.yaml
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/crd/bases/nodetopology.openshift.io_numaresourcesschedulers.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  internal/controller/numaresourcesscheduler_controller.go
  internal/controller/numaresourcesscheduler_controller_test.go
Due: numaresources-operator-bundle-4-20-on-push

e2e: enable scheduler preemption for tests that expects it
  test/e2e/serial/tests/priority-based-placement.go
Due: none

rbac: add required NetworkPolicy RBAC verbs for OCP 5.0 compliance
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/numaresourcesoperator_controller.go
  internal/controller/numaresourcesscheduler_controller.go
Due: numaresources-operator-bundle-4-20-on-push

CNF-26586: update registry path from openshift4 to openshift5
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/overlay/map_images.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
  .tekton/images-mirror-set.yaml
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

CNF-26586: keep openshift4 entries and add openshift5 in remaining IDMS/mirrors
  .konflux/catalog/catalog-idms.yaml
  .tekton/images-mirror-set.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

CNF-26586: keep openshift4 entries and add openshift5 in fbc-images IDMS
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
Due: none

CNF-26586: remove openshift4 entry from catalog-idms
  .konflux/catalog/catalog-idms.yaml
Due: none

e2e: tools: nrovalidate: disable deploying MCO CRD
  .github/workflows/e2e-tools.yaml
  hack/deploy-mco-crds.sh
  test/e2e/tools/nrovalidate_test.go
Due: numaresources-operator-bundle-4-20-on-push

tools: nrovalidate: restore tests
  nrovalidate/main.go
  nrovalidate/validator/kubeletconfig.go
  nrovalidate/validator/validator.go
  test/e2e/tools/nrovalidate_test.go
Due: none

deps: bump RTE to allow disabling NUMA placement reporting
  go.mod
  go.sum
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/cfgdispatch.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/defaults.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/flags.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/config/validation.go
  vendor/github.com/k8stopologyawareschedwg/resource-topology-exporter/pkg/resourcemonitor/resourcemonitor.go
  vendor/modules.txt
Due: none

api: ng-config: allow disabling NUMA placement reporting
  api/v1/numaresourcesoperator_defaults.go
  api/v1/numaresourcesoperator_defaults_test.go
  api/v1/numaresourcesoperator_normalize.go
  api/v1/numaresourcesoperator_normalize_test.go
  api/v1/numaresourcesoperator_types.go
  api/v1/numaresourcesoperator_types_test.go
  api/v1/zz_generated.deepcopy.go
  bundle/manifests/nodetopology.openshift.io_numaresourcesoperators.yaml
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/crd/bases/nodetopology.openshift.io_numaresourcesoperators.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
Due: numaresources-operator-bundle-4-20-on-push

tekton: main is 5.1
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/numaresources-must-gather-5-1-pull-request.yaml
  .tekton/numaresources-must-gather-5-1-push.yaml
  .tekton/numaresources-operator-5-1-pull-request.yaml
  .tekton/numaresources-operator-5-1-push.yaml
  .tekton/numaresources-operator-bundle-5-1-pull-request.yaml
  .tekton/numaresources-operator-bundle-5-1-push.yaml
  .tekton/numaresources-operator-fbc-5-1-pull-request.yaml
  .tekton/numaresources-operator-fbc-5-1-push.yaml
Due: numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

.konflux: switch main to 5.1
  .konflux/Dockerfile.catalog
  .konflux/bundle/bundle.konflux.Dockerfile
  .konflux/bundle/metadata/annotations.yaml
  .konflux/bundle/overlay/release.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container-build.args
  .konflux/must-gather/must-gather.konflux.Dockerfile
  .konflux/operator/konflux.Dockerfile
Due: numaresources-must-gather-4-20-on-pull-request, numaresources-operator-bundle-4-20-on-push, numaresources-operator-fbc-4-21-on-pull-request

infra: switch to 5.1
  .github/workflows/ci.yaml
  .github/workflows/e2e-local.yaml
  .github/workflows/e2e-tools.yaml
  .github/workflows/e2e.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/release-testsuite.yaml
  Makefile
  README.tests.md
  bundle/manifests/numaresources-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/numaresources-operator.clusterserviceversion.yaml
  config/samples/nodetopology_v1_numaresourcesscheduler.yaml
  config/samples/nodetopology_v1alpha1_numaresourcesscheduler.yaml
  doc/examples/sched.debug.yaml
  doc/examples/sched.ha.yaml
  doc/examples/sched.nocache.yaml
  doc/examples/sched.yaml
  internal/api/features/types.go
  internal/buildinfo/buildinfo_test.go
  internal/controller/numaresourcesscheduler_controller_test.go
  internal/platforminfo/platforminfo_test.go
  test/e2e/must-gather/must_gather_suite_test.go
Due: numaresources-operator-bundle-4-20-on-push

CNF-26801: Seed catalog-template with released 4.22.0 and 4.22.1 bundles
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-26801: Skip catalog-template update in FBC pipeline
  .tekton/fbc-pipeline.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

e2e: serial: add compact PFP regression for OCPBUGS-90597
  hack/run-test-compact-e2e.sh
  test/e2e/serial/tests/compact_pfp_scheduling.go
Due: numaresources-operator-bundle-4-20-on-push

CNF-26801: Revert catalog-template 4.22 seed after FBC release
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: numaresources-operator-fbc-4-21-on-pull-request

api: chore: use maps/slices packages
  api/v1/numaresourcesoperator_types.go
Due: none

pkg: introduce and use the iter package
  internal/baseload/baseload.go
  internal/controller/numaresourcesoperator_controller_test.go
  pkg/images/fetch.go
  pkg/iter/iter.go
  pkg/objectupdate/rte/rte.go
  pkg/objectupdate/rte/rte_test.go
  test/e2e/install/install_test.go
  test/e2e/serial/tests/introspection.go
  test/e2e/serial/tests/scheduler_cache_stall.go
  test/internal/objects/pod.go
Due: none

[BRANCH-CUT] Prepare release-5.0 branch
  .konflux/catalog/catalog-template.in.yaml
  .tekton/numaresources-must-gather-5-0-pull-request.yaml
  .tekton/numaresources-must-gather-5-0-push.yaml
  .tekton/numaresources-operator-5-0-pull-request.yaml
  .tekton/numaresources-operator-5-0-push.yaml
  .tekton/numaresources-operator-bundle-5-0-pull-request.yaml
  .tekton/numaresources-operator-bundle-5-0-push.yaml
  .tekton/numaresources-operator-fbc-5-0-pull-request.yaml
  .tekton/numaresources-operator-fbc-5-0-push.yaml
Due: none

chore: fix iterator copyright boilerplate
  pkg/iter/iter.go
Due: none

CNF-26908: Split FBC catalogs into 4.22 and 5.0 directories
  .konflux/Dockerfile.catalog.4.22
  .konflux/catalog/.gitignore
  .konflux/catalog/4.22/catalog-idms.yaml
  .konflux/catalog/4.22/catalog-template.in.yaml
  .konflux/catalog/4.22/numaresources-operator/.gitkeep
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/5.0/catalog-idms.yaml
  .konflux/catalog/5.0/catalog-template.in.yaml
  .konflux/catalog/5.0/numaresources-operator/.gitkeep
  .konflux/catalog/README.md
  .tekton/fbc-pipeline.yaml
  .tekton/numaresources-operator-fbc-4-22-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-22-push.yaml
  Makefile
Due: numaresources-operator-fbc-4-21-on-pull-request

.konflux: switch main to 5.1
  .konflux/must-gather/tmp/redhat.repo
  .konflux/must-gather/tmp/rpms.in.yaml
  .konflux/must-gather/tmp/rpms.lock.yaml
  .konflux/must-gather/tmp/rpms.out.yaml
Due: numaresources-must-gather-4-20-on-pull-request

api: helper: add Name() helper for nodegroup.Tree
  api/v1/helper/nodegroup/nodegroup.go
  api/v1/helper/nodegroup/nodegroup_test.go
Due: none

status: conditioninfo: add UpdateMessage()
  pkg/status/conditioninfo/conditioninfo.go
  pkg/status/conditioninfo/conditioninfo_test.go
Due: none

reconcile: step: add helpers
  internal/reconcile/step.go
  internal/reconcile/step_test.go
Due: none

controller: chore: move helper around
  internal/controller/numaresourcesoperator_controller.go
Due: none

objectstate: rte: add per-tree functions with compat wrappers
  pkg/objectstate/rte/machineconfigpool.go
  pkg/objectstate/rte/rte.go
Due: none

nrop: chore: change signature to enable future refactoring
  internal/controller/numaresourcesoperator_controller.go
Due: none

controller: nrop: add per-tree reconcile functions and helpers
  internal/controller/numaresourcesoperator_controller.go
Due: none
